allow hwservicemanager init:dir search;
allow hwservicemanager init:dir read;
allow hwservicemanager init:dir write;
allow hwservicemanager init:dir getattr;
allow hwservicemanager init:file read;
allow hwservicemanager init:file write;
allow hwservicemanager init:file getattr;
allow hwservicemanager init:file open;
allow hwservicemanager init:process getattr;

