allow init sysfs_graphics:file { open read };
allow init sysfs_sec_touchkey:file { open write };
allow init sysfs_graphics:file write;
allow init system_file:file mounton;
allow init vendor_file:file execute_no_trans;
allow init hwservicemanager:binder call;
allow init hwservicemanager:binder transfer;
allow init sysfs:file setattr;
allow init proc_bt_sleep:file setattr;
allow init sysfs_sec_epen:file write;
allow init firmware_file:dir create;
allow init sysfs_sec_epen:file open;
allow init efs_file:dir mounton;
allow init proc:file { setattr write };
allow init sysfs:file write;
allow init hal_light_hwservice:hwservice_manager add;
allow init hidl_base_hwservice:hwservice_manager add;
allow init seapp_contexts_file:file read;
allow init self:capability2 block_suspend;
