allow keystore exfat:dir search;
allow keystore exfat:file read;
allow keystore exfat:file open;
allow keystore exfat:file write;
allow keystore exfat:file getattr;
r_dir_file(keystore, firmware_file)
